/* FONT LOADING */

@font-face {
    font-family: "GG Sans Normal";
    src: url("static/gg-sans/gg_sans_Normal.ttf") format("truetype");
}

@font-face {
    font-family: "GG Sans Medium";
    src: url("static/gg-sans/gg_sans_Medium.ttf") format("truetype");
}

@font-face {
    font-family: "GG Sans Bold";
    src: url("static/gg-sans/gg_sans_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "GG Sans Extrabold";
    src: url("static/gg-sans/gg_sans_Extrabold.ttf") format("truetype");
}



/* KEYFRAMES */

@keyframes home-float-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes loading-spin {
    to {
        transform: rotate(360deg);
    }
}



/* SCREEN SIZE ADJUSTMENTS */

/*
@media (max-width: 768px) {
    #about-selection-container {
        flex-direction: column;
    }

    #about-selection-right {
        margin-left: 0;
        margin-top: 20px;
        max-width: 100%;
    }
}
*/



/* BODY STYLING */

body {
    background-color: #2c2c34;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}



/* TOP NAV BAR */

#nav-wrapper {
    display: flex;
    margin-top: 10px;
}

#nav-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#top-nav {
    display: inline-block;
    text-align: right;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
    z-index: 1;
}

#top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#top-nav li {
    display: inline-block;
    margin-right: 40px;
    color: white;
    font-family: "GG Sans Normal";
    font-size: 20px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

#top-nav a {
    color: white;
    font-family: "GG Sans Normal";
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

#top-nav li::after, #top-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

#top-nav li.nav-active::after,
#top-nav a:hover::after {
    transform: scaleX(1);
}



/* GENERAL USE */

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-orange, .card-blue {
    border-radius: 5px;
    padding: 8px 12px;
}

.card-orange a, .card-blue a {
    color: white;
}

.card-orange {
    background-color: rgba(238, 212, 148, 0.3);
    border: 1px solid rgb(255, 183, 0);
}

.card-blue {
    background-color: rgba(148, 187, 238, 0.3);
    border: 1px solid rgb(0, 162, 255);
}

.blurred {
    filter: blur(5px);
}



/* home.html */

#onload-wrapper {
    opacity: 0;
    transform: translateY(50px);
    animation-name: home-float-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

#onload-wrapper-delayed {
    opacity: 0;
    transform: translateY(50px);
    animation-name: home-float-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

#home-title {
    color: white;
    font-family: "GG Sans Medium";
    font-size: 50px;
    margin-top: 10px;
}

#home-title-avatar {
    margin-right: 30px;
    width: 80px;
    height: auto;
}

#home-bot-tag {
    margin-left: 20px;
    font-size: 50px;
    color: #c9c9c9;
}

.home-badge-separator {
    margin-left: 30px;
    margin-right: 30px;
}

#home-verified-bot-badge {
    width: 90px;
    height: auto;
}

#home-supports-commands-badge {
    width: 50px;
    height: auto;
}

#home-status-badge {
    width: 50px;
    height: auto;
}

.home-badge-hover {
    position: relative;
    display: inline-block;
}

.home-badge-hover .home-badge-text {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: "GG Sans Normal";
    font-size: 20px;
}

.home-badge-hover:hover .home-badge-text {
    visibility: visible;
}

#home-status-badge-loading {
    position: relative;
    width: 50px;
    height: 50px;
}

#home-status-badge-loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 5px solid white;
    border-top-color: #2c2c34;
    border-radius: 50%;
    animation: loading-spin 1s linear infinite;
}

#home-subtitle {
    color: #c9c9c9;
    font-family: "GG Sans Normal";
    font-size: 28px;
}

#home-buttons {
    margin-top: 20px;
}

#home-invite {
    cursor: pointer;
    background-color: #5865f2;
    color: white;
    font-family: "GG Sans Normal";
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 30px;
    transition: background-color 0.3s ease;
}

#home-invite:hover {
    background-color: #7f89f0;
}

#home-invite-icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

#home-more-info {
    cursor: pointer;
    background-color: #4e4e4e;
    color: white;
    font-family: "GG Sans Normal";
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#home-more-info:hover {
    background-color: #8a8a8a;
}



/* about.html */

#about-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#about-selection-container {
    margin-left: 20px;
    width: 40%;
    padding-right: 10px;
}

#about-selection-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: left;
    align-items: center;
}

.about-selection-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #4e4e4e;
    color: white;
    font-family: "GG Sans Normal";
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 60px;
}

.about-selection-button:hover {
    background-color: #8a8a8a !important;
}

.about-selection-emoji {
    font-size: 20px;
    margin-bottom: 2px;
}

.about-selection-text {
    margin-top: 2px;
}

#about-selection-title {
    color: white;
    font-family: "GG Sans Normal";
}

#about-selection-title-header {
    font-size: 30px;
}

#about-selection-title-description {
    font-size: 20px;
}

#about-configuration, #about-economy, #about-fun, #about-games, #about-images, #about-moderation, #about-music, #about-sciences, #about-statistics, #about-text, #about-utility, #about-premium {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#about-configuration.visible, #about-economy.visible, #about-fun.visible, #about-games.visible, #about-images.visible, #about-moderation.visible, #about-music.visible, #about-sciences.visible, #about-statistics.visible, #about-text.visible, #about-utility.visible, #about-premium.visible {
    opacity: 1;
}

#about-category-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 55%;
    position: relative;
}

#about-category-view > * {
    position: absolute;
    top: 0;
    left: 20px;
}

.about-category-text {
    color: white;
    font-family: "GG Sans Normal";
    text-align: left;
}

.about-category-title {
    font-size: 40px;
}

.about-category-description {
    font-size: 18px;
}

.about-category-image-container {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
    gap: 5px;
    transform: translateY(50px);
}

.about-category-image-container.about-category-image-fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.about-category-image {
    max-width: 100%;
    border-radius: 10px;
}

.discord-button {
    color: white;
    font-family: "GG Sans Normal";
    background-color: #5865f2;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 8px;
    position: relative;
    z-index: 9999;
    transition: background-color 0.3s ease;
}

.discord-button:hover {
    background-color: #3444ed;
    cursor: pointer;
}



/* commands.html */

#commands-title, #commands-subtitle {
    font-family: "GG Sans Normal";
    color: white;
}

#commands-title {
    margin-top: 50px;
    font-size: 40px;
}

#commands-subtitle {
    font-size: 25px;
}

#commands-search-bar {
    margin-top: 40px;
    position: relative;
}

#commands-search-bar input[type="text"] {
    width: 60%;
    border-radius: 500px;
    background-color: #4e4e4e;
    padding: 10px 30px;
    border: none;
    font-family: "GG Sans Normal";
    font-size: 30px;
    color: white;
}

#commands-search-bar input[type="text"]::placeholder {
    font-family: "GG Sans Normal";
    font-size: 30px;
    color: #8f8f8f;
}

#commands-search-bar input[type="text"]:focus {
    outline: none;
}

#commands-search-button {
    margin-left: 30px;
    border-radius: 50%;
    border: none;
    background-color: #4e4e4e;
    width: 50px;
    height: 50px;
    position: relative;
}

#commands-search-button img {
    filter: invert(1);
}

#commands-search-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}

#commands-search-loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 70%;
    height: 70%;
    border: 2px solid white;
    border-top-color: #4e4e4e;
    border-radius: 50%;
    animation: loading-spin 1s linear infinite;
}

#commands-search-results {
    max-width: 140vh;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
}

#commands-search-results-dropdown {
    background-color: #4e4e4e;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 1px solid #cacaca;
    margin-top: 25px;
}

.commands-search-results-header, .commands-search-results-card {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "GG Sans Normal";
}

.commands-search-results-header {
    font-size: 18px;
    color: #c0c0c0;
    text-align: center;
}

.commands-search-results-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.commands-search-results-description-container {
    display: flex;
    justify-content: left;
    padding: 10px;
    gap: 10px;
}

.commands-search-results-show-hide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-family: "GG Sans Normal";
    font-size: 18px;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
    width: 50px;
    margin: 0 auto;
}

.commands-search-results-show-hide-container::after {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.commands-search-results-show-hide-container:hover::after {
    opacity: 1;
}

.commands-search-results-card {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.commands-search-results-card b {
    font-family: "GG Sans Bold";
    font-weight: 300;
}

.commands-search-results-card-description {
    font-family: "GG Sans Normal";
    font-size: 16px;
    color: #c0c0c0;
}

.commands-search-results-card-description b {
    font-family: "GG Sans Bold";
    font-weight: 300;
}

#commands-search-results-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#commands-search-results-overlay-info {
    background-color: #4e4e4e;
    border: none;
    border-radius: 10px;
    width: 80vw;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

#commands-search-results-overlay-header {
    text-align: center;
    color: white;
    font-family: "GG Sans Normal";
}

#commands-search-results-overlay-title {
    font-size: 35px;
    margin-bottom: 20px;
}

#commands-search-results-overlay-aliases-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#commands-search-results-overlay-tag, #commands-search-results-overlay-aliases {
    font-size: 20px;
}

#commands-search-results-overlay-tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.commands-search-results-overlay-tag {
    font-size: 20px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
}

#commands-search-results-overlay-table {
    color: white;
    font-family: "GG Sans Normal";
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20px;
}

.commands-search-results-overlay-table-title {
    padding-right: 80px;
}

.commands-search-results-overlay-table-title, .commands-search-results-overlay-table-content {
    padding-bottom: 15px;
}

#commands-search-results-overlay-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
}

#commands-search-results-overlay-close img {
    filter: invert(1);
}

#commands-search-results-overlay-close:hover {
    cursor: pointer;
}



/* support.html */

#support-title, #support-subtitle {
    font-family: "GG Sans Normal";
    color: white;
}

#support-title {
    margin-top: 50px;
    font-size: 40px;
}

#support-subtitle {
    font-size: 25px;
    padding-left: 80px;
    padding-right: 80px;
}

#support-server-wrapper {
    margin-top: 20px;
}

#support-server-invite {
    cursor: pointer;
    background-color: #5865f2;
    color: white;
    font-family: "GG Sans Normal";
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 80px;
    transition: background-color 0.3s ease;
}

#support-server-invite:hover {
    background-color: #7f89f0;
}

#support-server-invite-icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}